* {
    box-sizing: border-box;
}
/* @import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

}

html {
    background: #f2f2f2;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /* font-family: sans-serif,Roboto, "Helvetica Neue", sans-serif; */
 /* font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}
::-webkit-scrollbar {
    width: 5px !important;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C4C4C4; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(9, 44, 76, 0.2);
    border-radius: 38px;
  }
  

  ::-webkit-scrollbar {
    width: 5px !important;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C4C4C4; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(9, 44, 76, 0.2);
  
    border-radius: 38px;
  }

  .field-130{
    padding-right: 45px !important;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.ms-TextField-field .ms-TextField--unresizable .field-130{
    padding-right: 45px !important;
}
._chatMessageUserMessage_x4at4_86{
    padding: 10px !important;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
._chatMessageUserMessage_50tn9_86{
  padding: 10px !important;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
._answerContainer_1xeyy_1{
  padding:0px 7px !important;
}
._answerText_1xeyy_12{
  margin:0px 7px !important;
  line-height: 15px !important;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
._answerText_1xeyy_12 .p{
  margin: 6px 0px;
}
._answerDisclaimer_1xeyy_42{
  margin:0px 7px !important;
  padding-bottom: 4px !important;
}
/* ._questionInputBottomBorder_1ww7a_43{
  background: radial-gradient(106.04% 106.06% at 100.1% 90.19%, #f0d91a 33.63%, #747253 100%) !important;
}
.customColor{
    background: radial-gradient(106.04% 106.06% at 100.1% 90.19%, #f0d91a 33.63%, #747253 100%) !important;

} */
.customClearCosmos{
  top:50px !important;
  cursor: pointer !important;

}
.customClear{
  /* top:30px !important; */
  cursor: pointer !important;
  color: #ffffff !important;

}
.customClear:active{
  color: #ffffff !important;
}
.customaddIcon[title]:hover::after {
  content: "New Chat" !important;
  position: absolute !important;
  top: -73% !important;
  left: 0 !important;
  background-color: #a7a2a2;
    border-radius: 4px;
    width: 61px;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 4px;
    z-index: 999 !important;
}
.customhoverIcon[title]:hover::after {
  content: "Clear all chat history" !important;
  position: absolute !important;
  top: -12% !important;
  left: -17px !important;
  /* left: 0 !important; */
  background-color: #a7a2a2;
    border-radius: 4px;
    width: 120px;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 4px;
    z-index: 999 !important;
    color:#FFFFFF !important;
    word-break:break-all;
}
.customaddIcon:hover{
  color: #ffffff !important;
  z-index: 999 !important;
}
.customaddIcon:active{
  color: #ffffff !important;
  z-index: 999 !important;
}
.customaddIcon .ms-Button-icon:active{
  color: #ffffff !important;
}
.customaddIcon .ms-Button-icon:active:hover{
  color: #ffffff !important;
}
/* .customClear {
  position: relative !important;
  display: inline-block !important;
  margin-top: 20px !important;
} */

.customClear[title]:hover::after {
  content: "Clear Chat" !important;
  position: absolute !important;
  top: -73% !important;
  left: 0 !important;
  background-color: #a7a2a2;
    border-radius: 4px;
    width: 61px;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 4px;
} 
.answerContainer{
  border-radius: 28px !important;
}
.customfont{
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
    /* padding: 20px; */
    background: #EDF5FD;
    border-radius: 8px;
    box-shadow: 0 2px 4px #00000024, 0 0 2px #0000001f;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #242424;
    order: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 80%;
}
.contentalignment{
  margin-bottom: 4px;
}
/* ._clearChatBroomNoCosmos_50tn9_163 .root-119{
  background: radial-gradient(106.04% 106.06% at 100.1% 90.19%, #f0d91a 33.63%, #747253 100%) !important;

 /* // background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #747253 33.63%, rgb(199 190 95) 70.31%, 70.31%, #f0d91a  100%) !important; */
/* } */
/* .root-145{
  background: radial-gradient(106.04% 106.06% at 100.1% 90.19%,#f0d91a 47.63%,#747253 119%)!important; */
  /* background: radial-gradient(106.04% 106.06% at 100.1% 90.19%, #f0d91a 33.63%, #747253 100%) !important; */
/* } */

._questionInputContainer_1pgms_1{
top:0px !important;
height: 0px !important;
}
.field-130::after{
overflow: hidden !important;
}
/* .fieldGroup-140{
  overflow: unset !important;
  height: unset !important;
} */
._questionInputContainer_1dtep_1{
  height: inherit !important;
}
  .fieldGroup-129{
    height: inherit !;
  }
  .fieldGroup-129::after{
    height: inherit !;
  }
  .custom-button-color > i:hover {
      color:white !important;
  }
  .custom-button-color .root-108:hover .ms-Button-icon {
    color:white !important;
}
.root-108:hover  {
  color: white !important;
}
.icon-120{
  color: black !important;
}

.root-119{
  /* background: #C4C4C4 !important; */
  background: #dfdfdf !important;
}
.tooltip-container {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  /* background-color: rgb(208 205 205);
  color: #565656; */
  background-color: #a7a2a2;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  padding: 0px 6px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust this for placement */
  left: 50%;
  margin-left: -27px; /* Adjust for centering */
  /* opacity: 0; */
  transition: opacity 0.3s;
  cursor: pointer;
  
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.shareicon{
  background: #1C1B19;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    display: flex;
    padding: 8px 20px 8px 20px;
    gap: 3px;
    margin-right: 20px;
    cursor: pointer;
}